{% extends 'base.html.twig' %}

{% block title %}
  {{ 'models.list.meta.title'|trans({
      '%manufacturer%': serie.manufacturer,
      '%serie%': serie.name,
  }) }}
  -
  {{ parent() }}
{% endblock %}

{% block body %}
  {% include "common/_aside.html.twig" %}
  <main class="ml-72 py-8 px-8">
    <section>
      <header class="w-full flex justify-between items-center mb-8 ">
        <h1 class="text-xl font-bold tracking-tight md:text-2xl">{{ 'models.list.title'|trans({
          '%manufacturer%': serie.manufacturer,
          '%serie%': serie.name,
        }) }}</h1>
        <a href={{ path('app_model_create', {serie: serie.uuid}) }}>
          <button class="text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">
            {{ 'models.list.button.create'|trans }}
          </button>
        </a>
      </header>

      <table class="min-w-full divide-y divide-gray-200 table-fixed">
        <thead class="bg-gray-100">
          <tr>
            <th class="p-4 text-sm font-medium text-left text-gray-500">{{ 'models.list.table.thead.codeName'|trans }}</th>
            <th></th>
          </tr>
        </thead>
        <tbody class="divide-y divide-gray-200">
          {% for model in models.items %}
            <tr class="hover:bg-gray-50">
              <td class="p-4 text-sm">{{ model.codeName }}</td>
              <td class="p-4 text-sm">
                <a href="{{ path('app_model_view', {serie: serie.uuid, model: model.uuid}) }}" class="text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-sm text-sm px-3 py-1 text-center">
                  {{ 'models.list.table.td.modelLink'|trans }}
                </a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      {% include "common/pagination.html.twig" with {
        pagination: models,
        page: page,
        pageSize: pageSize,
        route: 'app_models_list',
        entity: 'pagination.entity.models'|trans
      } %}
    </section>
  </main>
{% endblock %}
