<details class="rounded-lg py-6 px-6" open={{ asideDetailsActive|default(null) == name }}>
  <summary class="marker:content-none font-bold text-lg select-none rounded-lg px-5 py-2.5 hover:bg-gray-100 hover:cursor-pointer">
    {{ "menu.#{name}.title"|trans }}
  </summary>
  <nav>
    <ul>
      {% for item in nav_items %}
      {% set isHighlighted = app.request.attributes.get('_route') == item.route or highlightedItem|default(null) == item.route %}
      <li class="mt-1 rounded-lg {{ isHighlighted ? 'bg-gray-100' : '' }} hover:bg-gray-100">
        <a href={{ path(item.route) }} class="select-none text-sm px-5 py-2.5 block">{{ item.label|trans }}</a>
        {% if asideDetailsActiveContextualLink is defined and asideDetailsActiveContextualLink.parent == item.route %}
          <a href="{{ asideDetailsActiveContextualLink.link }}" class="select-none text-sm px-8 py-1 block">
            {{ asideDetailsActiveContextualLink.label }}
          </a>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
  </nav>
</details>
